body {
    font-family: Arial, sans-serif;
    background-color: #121213;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordle-board {
    margin-top: 20px;
}

.row {
    display: flex;
}

.tile {
    width: 52px;
    height: 52px;
    border: 2px solid #3a3a3c;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.tile.green {
    background-color: #538d4e;
    border-color: #538d4e;
}

.tile.yellow {
    background-color: #b59f3b;
    border-color: #b59f3b;
}

.tile.gray {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
}
.char {
    width: 52px;
    height: 52px;
    text-align: center;
    font-size: 2rem;
    margin: 3px;
    text-transform: uppercase;
}
.guess-inputs {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.guess-inputs input {
    width: 52px;
    height: 52px;
    margin: 3px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #565758;
    background-color: #121213;
    color: white;
}

.guess-inputs input:focus {
    outline: none;
    border-color: #538d4e; /* groen focus */
}
